4/calibration_photos/
4/calibration_photos_resized/
4/lafufu_calibration_photos/
4/lafufu_scan_photos/
4/scan_photos/
4/scan_photos_resized/
4/lego_training_preds_try1/
4/lego_training_preds_try2/
4/lego_training_preds_try3/
4/my_training_preds/
